# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
.expo/
*.tsbuildinfo

# environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# turbo
.turbo/

# expo generated native folders (use prebuild to regenerate)
packages/app/android/
packages/app/ios/

# expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# misc
*.log
npm-debug.log*
